<div style="width: 299px; float: left; padding: 0; margin-right: 1px; margin-bottom: 1px; background: #FFFFFF; border-top: 4px solid #193773;">
    <div style="width: 249px; float: left; padding: 30px 20px 0 20px; overflow: hidden;">
        <p style="font-size: 16px; color: #666666; margin: 0; height: 40px; vertical-align: middle;">{PRODUCT_LEFT_NAME}</p>
    </div>
    <div style="width: 249px; height: 249px; float: left; padding: 0 20px 0 20px; overflow: hidden; margin-bottom: 5px;">
        <img src="{PRODUCT_LEFT_IMAGE_URL}" alt="{PRODUCT_LEFT_NAME}" style="width: 100%; padding: 0; margin: 0;"/>
    </div>
    <div style="width: 249px; height: 60px; float: left; padding: 0 20px 0 20px;">
        <div style="width: 180px; float: left; padding: 0;">
            <p style="margin: 0; font-size: 25px; color: #00709E;">por {PRODUCT_LEFT_PRICE}</p>
            <p style="margin: 0; font-size: 12px; color: #666666;">em 10x de {PRODUCT_LEFT_PRICE_DIVIDED}</p>
            <p style="margin: 0; font-size: 12px; color: #666666;">nos cartões*</p>
        </div>
        <div style="width: 69px; float: left; padding: 0;">
            <img src="http://www.tatufast.com/emails/so-hoje.png" alt="Só hoje!" style="margin: 0 auto; display: block;"/>
        </div>
    </div>
    <div style="width: 249px; float: left; padding: 15px 20px 15px 20px;">
        <a href="{PRODUCT_LEFT_URL}" style="width: 189px; display: block; margin: 10px auto; padding: 5px; background: #193773;color: #ffffff; text-align: center; text-decoration: none; font-weight: bold; font-size: 26px; border-bottom: 4px solid #172c59; border-radius: 2px;">ver agora</a>
    </div>
</div>

<div style="width: 299px; float: left; padding: 0; margin-left: 1px; margin-bottom: 1px; background: #FFFFFF; border-top: 4px solid #8a0000;">
    <div style="width: 249px; float: left; padding: 30px 20px 0 20px; overflow: hidden;">
        <p style="font-size: 16px; color: #666666; margin: 0; height: 40px; vertical-align: middle;">{PRODUCT_RIGHT_NAME}</p>
    </div>
    <div style="width: 249px; height: 249px; float: left; padding: 0 20px 0 20px; overflow: hidden; margin-bottom: 5px;">
        <img src="{PRODUCT_RIGHT_IMAGE_URL}" alt="{PRODUCT_RIGHT_NAME}" style="width: 100%; padding: 0; margin: 0;"/>
    </div>
    <div style="width: 249px; height: 60px; float: left; padding: 0 20px 0 20px;">
        <div style="width: 180px; float: left; padding: 0;">
            <p style="margin: 0; font-size: 25px; color: #00709E;">por {PRODUCT_RIGHT_PRICE}</p>
            <p style="margin: 0; font-size: 12px; color: #666666;">em 10x de {PRODUCT_RIGHT_PRICE_DIVIDED}</p>
            <p style="margin: 0; font-size: 12px; color: #666666;">nos cartões*</p>
        </div>
        <div style="width: 69px; float: left; padding: 0;">
            <img src="http://www.tatufast.com/emails/so-hoje.png" alt="Só hoje!" style="margin: 0 auto; display: block;"/>
        </div>
    </div>
    <div style="width: 249px; float: left; padding: 15px 20px 15px 20px;">
        <a href="{PRODUCT_RIGHT_URL}" style="width: 189px; display: block; margin: 10px auto; padding: 5px; background: #193773;color: #ffffff; text-align: center; text-decoration: none; font-weight: bold; font-size: 26px; border-bottom: 4px solid #172c59; border-radius: 2px;">ver agora</a>
    </div>
</div>