/*** RESET ***/
a{
    color: #ef4032;
}
a:hover{
    text-decoration: none !important;
    color: #bd2d21
}
a:visited{
    color: #98231b;
}

/*** UTILIDADES ***/
.uppercase{
    text-transform: uppercase;
}
.transition{
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
}
.glow{
    text-shadow: 0 0 2px #fff;
}

/*** TOPO ***/
.top-bar{
    background: #FFFFFF !important;
    padding: 0 !important;
    margin: 0 !important;
    /*overflow: auto;*/
}
.top-bar .top-links{
    padding: 7px;
    border-bottom: 1px solid #0286a9;
}
.top-bar .top-links a{
    color: #616161;
    padding: 0 10px;
}
.top-bar .search-field{
    border-radius: 0;
    background: #FFFFFF;
    border: 1px solid #172c59;
    padding: 15px;
    height: 40px;
    font-size: 14px;
    color: #616161;
    -webkit-input-placeholder: #ffffff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
.menu{
    width: 100%;
    padding: 0;
    margin: 0;
    height: auto;
    position: relative;
    background: #193773;
    border-bottom: 3px solid #172c59;
    border-top: 1px solid #193786;
    /*overflow: auto;*/
    text-align: center;
    list-style: none;
}
.menu li{
    display: inline;
}
.menu li a{
    display: inline-block;
}
.menu .item{
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    padding: 10px 20px 5px 20px;
}
.menu .item:hover{
    text-decoration: none;
    text-shadow: 0 0 2px #fff;
}

.submenu{
    width: 100%;
    padding: 0;
    margin: 0;
    height: auto;
    position: relative;
    background: #ba0000;
    border-bottom: 3px solid #8a0000;
    border-top: 1px solid #d60000;
    /*overflow: auto;*/
    text-align: center;
    list-style: none;
}
.submenu li{
    display: inline;
}
.submenu li a{
    display: inline-block;
}
.submenu .item{
    color: #ffffff;
    font-size: 13px;
    text-align: center;
    padding: 0 10px 0 10px;
}
.submenu .item:hover{
    text-decoration: none;
    text-shadow: 0 0 2px #fff;
}

.header-links{
    padding: 0;
    text-align: center;
}
.header-links a{
    float: left;
    font-size: 15px;
    color: #616161;
}
.header-links a:hover{
    text-decoration: none;
    text-shadow: 0 0 2px #616161;
    color: #616161;
}

/*** RODAPÉ ***/
.footer{
    background: #FAFAFA !important;
    padding: 0;
    margin: 0;
    overflow: auto;
}
.footer .column{
    float: left;
    padding: 20px 15px;
}
.footer .column a{
    width: 100%;
    float: left;
    padding: 3px 0;
    font-size: 14px;
}
.footer .column a{
    font-weight: 100;
    color: #666666;
    text-decoration: none;
}
.footer .column p{
    width: auto;
    float: left;
    font-size: 15px;
    font-weight: 100;
    color: #666666;
    text-decoration: none;
}
.user-shortcuts{
    background: #006E9F;
    padding: 20px;
}
.user-shortcuts img{
    display: inline-block;
}
.user-shortcuts a{
    color: #ffffff;
    font-size: 20px;
    text-shadow: 0 0 1px #fff;
}
.user-shortcuts a:hover{
    color: #ffffff;
    font-size: 20px;
    text-shadow: 0 0 2px #fff;
}
.footer-search{
    background: #ba0000;

}
.rights{
    background: #F4F4F4;
    color: #666666;
    padding: 15px 10% 15px 10%;
    font-size: 11px;
    text-align: center;
}
.security-info{
    background: #FFFFFF;
    color: #666666;
    padding: 15px 10% 15px 10%;
    font-size: 11px;
    text-align: center;
}


/** SESSION - NAME **/
.session-name{
    font-size: 21px;
    border-bottom: 1px solid #666666;
    color: #666666;
    padding-bottom: 8px;
}


/*** PRODUTO - GRID ***/
.product-grid{
    width: 100%;
	margin: 10px 0 10px 0;
	padding: 20px;
	background: #ffffff;
}
.product-grid:hover{
    box-shadow: 0 0 5px #e7e7e7;
    -moz-box-shadow: 0 0 5px #e7e7e7;
    -webkit-box-shadow: 0 0 5px #e7e7e7;
}
.product-grid img{
    margin: 0 auto;
    max-height: 230px;
}
.product-grid .product-name{
    width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 17px;
    min-height: 68px;
    font-weight: lighter;
    color: #000000;
}
.product-grid .product-normal-price{
    width: 100%;
	padding: 2px;
	text-align: center;
	font-size: 15px;
	color: #666666;
	overflow: hidden;
	text-overflow: clip;
	white-space: nowrap;
}
.product-grid .product-offer-price{
    width: 100%;
    padding: 0px;
    text-align: center;
    font-weight: bolder;
    font-size: 35px;
    line-height: 40px;
    color: #ba0000;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
}
.product-grid .product-action{
    width: 190px;
    margin: 0 auto;
    padding: 5px;
    background: #FF9100;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
}
.product-grid:hover .product-action{
    background: #FF9100;
    box-shadow: 0 0 2px #FF9100;
    -moz-box-shadow: 0 0 2px #FF9100;
    -webkit-box-shadow: 0 0 2px #FF9100;
}
.product-grid .product-action:hover{
    background: #FF9100;
    text-shadow: 0 0 2px #fff;
}

/*** PRODUTO - VIEW ***/
.product-view{
    padding-bottom: 30px;
    padding-top: 30px;
}
.product-view .top-name{
    font-size: 25px;
    padding: 0px 40px 0px 0;
    display: inline-block;
    color: #666666;
}
.product-view .title{
    font-size: 20px;
    padding: 10px 0;
    color: #666666;
}
.product-view .promotional-text{
    font-size: 12px;
    padding: 10px 0;
    height: 60px;
    color: #666666;
}
.product-view .images{
    padding: 0;
}
.product-view .images .showing{
    max-height: 400px;
    margin: 0 auto;
}
.product-view .images .thumbs{
    margin: 0 auto;
    padding: 2px;
}
.product-view .configurations{
    background-color: transparent;
}
.product-view .configurations .normal-price{
    font-size: 13px;
    color: #000000;
    margin: 0 auto;
    padding-top: 25px;
    padding-left: 0;
}
.product-view .configurations .price{
    font-size: 33px;
    font-weight: bolder;
    color: #00709E;
    margin: 0 auto;
    padding-top: 10px;
    padding-left: 0;
}
.product-view .configurations .installments{
    font-size: 15px;
    color: #000000;
    margin: 0 auto;
    padding-left: 0;
}
.product-view .configurations .info{
    font-size: 13px;
    color: #666666;
    min-width: 100px;
}
.product-view .configurations .select:focus{
    box-shadow: none;
    border-color: #00709E;
}
.product-view .configurations .options{
    margin: 0 25%;
    width: 50%;
}
.product-view .configurations .buy{
    margin: 15px 0;
}
.buy{
    text-align: center;
    font-size: 28px !important;
    font-weight: bold !important;
    color: #ffffff;
    display: block !important;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 5px solid #8d0000 !important;
    background: #ba0000;
    border-radius: 2px !important;
    -webkit-border-radius: 2px !important;
    -moz-border-radius: 2px !important;
}
.buy:hover{
    background: #c80000;
    box-shadow: 0 0 2px #ba0000;
    -moz-box-shadow: 0 0 2px #ba0000;
    -webkit-box-shadow: 0 0 2px #ba0000;
    color: #ffffff !important;
}
.product-view .configurations .social{
    padding: 5px;
}
.product-view .configurations .social img{
    display: block;
    margin: 0 auto;
}
.description{
    background: #ffffff;
    margin-top: 20px;
}
.description a{
    color: #666666 !important;
}
.description .description-content{
    padding: 10px 0;
}
.description p{
    color: #666666 !important;
    padding: 10px 10px;
}
.description ul{
    border: none !important;
}
.description ul .tab{
    border-radius: 0 !important;
    border-top: 3px solid transparent !important;
}
.description ul .active{
    border-top: 3px solid #006fa0 !important;
}
.description .tab a{
    border-color: #ececec !important;
    border-radius: 0 !important;
    margin: 0;
}
/** CARRINHO **/
.cart {
    background-color: #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
}
.cart .title{
    font-size: 18px;
    padding: 20px;
    font-weight: bold;
    color: #666666;
}
.cart .total{
    font-size: 20px;
    font-weight: bold;
}
.cart-list {
    margin-bottom: 20px;
    min-height: 90px;
}
.cart-list .item{
    min-height: 90px;
    margin-bottom: -1px;
    margin-top: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    border: 1px solid #eaeaea;
}
.cart-list .item .image{
    padding: 0;
}
.cart-list .item .image img{
    display: block;
    margin: 0 auto;
    max-height: 128px;
}
.cart-list .item .name{
    max-height: 90px;
    font-size: 15px;
    margin-top: 0;
    color: #666666;
}
.cart-list .item .info{
    max-height: 90px;
    font-size: 12px;
}
.cart-list .item-checkout{
    min-height: 60px;
    margin-bottom: -1px;
    margin-top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    font-weight: normal;
    overflow: hidden;
    border-bottom: 1px solid #eaeaea;
}
.cart-list .item-checkout .name{
    max-height: 60px;
    font-size: 16px;
    margin-top: 14px;
    text-align: center;
}
.cart-list .item-checkout .info{
    max-height: 60px;
    font-size: 12px;
}

.form{
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
}
.form .title{
    font-size: 25px;
    font-weight: bold;
}
.form form{
    padding-top: 20px;
}

/*** ESPECIFICAÇÕES PARA RESOLUÇÕES DIFERENTES - PRECISA DO BOOTSTRAP ***/
@media (max-width: 991px) {
    .top-bar .menu .item, .header-links a{
        margin-bottom: 10px;
        margin-top: 5px;
    }
}

@media (min-width: 992px) {
}
